<ul class="plan-table">
  <li class="plan-table-title">デイタイムプラン</li>
  <li class="plan-table-data table-money">
    <div class="plan-table-money">
      <span class="plan-table-money-mark">￥</span>
      <p class="plan-table-money-price">5,000</p>
    </div>
    <p class="plan-table-ctn">月額</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-ctn">入会金0円</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-ctn">平日：9時〜17時</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-ctn">土日祝：利用ナシ</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-ctn">コアタイムでの利用に最適なプラン</p>
  </li>
</ul>
<ul class="plan-table">
  <li class="plan-table-title-brown">スタンダードプラン</li>
  <li class="plan-table-data table-money">
    <div class="plan-table-money">
      <span class="plan-table-money-mark">￥</span>
      <p class="plan-table-money-price">15,000</p>
    </div>
    <p class="plan-table-ctn">月額</p>
  </li>
  <li class="plan-table-data plan-table-data-brown">
    <p class="plan-table-ctn">入会金0円</p>
  </li>
  <li class="plan-table-data plan-table-data-brown">
    <p class="plan-table-ctn">平日：17時〜23時</p>
  </li>
  <li class="plan-table-data plan-table-data-brown">
    <p class="plan-table-ctn">土日祝：営業時間全て</p>
  </li>
  <li class="plan-table-data plan-table-data-brown">
    <p class="plan-table-ctn">営業時間内で終日ご利用可能なプラン</p>
  </li>
</ul>
