@use "../../variables" as *;

.plan {
  &-table {
    text-align: center;
    &-title {
      color: $white;
      margin: 0;
      font-size: $fontsize-l;
      font-weight: 700;
      &-1 {
        background-color: $orange-zorba;
        padding: 20px 40px;
      }
      &-2 {
        background-color: $orange-bistre;
        padding: 15px 40px 20px 40px;
      }
    }
    &-money {
      display: flex;
      justify-content: center;
      align-items: center;
      &-mark {
        color: $orange-bistre;
        font-size: $fontsize-l;
        font-weight: 700;
      }
      &-price {
        margin-bottom: 16px;
        font-size: $fontsize-xxl;
        font-weight: 700;
        color: $orange-bistre;
      }
    }
    &-data {
      margin-bottom: 0;
      font-size: $fontsize-s;
      padding: 20px;
      border: 1px solid $gray-gainsboro;
      border-top: 0;
      &-brown {
        border-left: 0;
        border-right: 0;
        &:last-child {
          margin-bottom: -5px;
          border-bottom: 0;
        }
      }
    }
    &-ctn {
      font-size: $fontsize-s;
      margin-bottom: 0;
    }
  }
}
.plan-table:nth-child(2) {
  border: 5px solid $orange-bistre;
}
.plan-table :nth-of-type(2) {
  padding: 24px 0;
  background-color: $gray-desertStorm;
  border: 1px solid $gray-gainsboro;
}
.button {
  margin: 0 auto;
}
