<section class="plan">
  <div class="plan-table plan-table-1">
    <p class="plan-table-title plan-table-title-1">デイタイムプラン</p>
    <div class="plan-table-m">
      <div class="plan-table-money">
        <span class="plan-table-money-mark">￥</span>
        <p class="plan-table-money-price">5,000</p>
      </div>
      <p class="plan-table-month">月額</p>
    </div>
    <div class="plan-table-data-1">
      <p class="plan-table-data">入会金0円</p>
    </div>
    <div class="plan-table-data-1">
      <p class="plan-table-data">平日：9時〜17時</p>
    </div>
    <div class="plan-table-data-1">
      <p class="plan-table-data">土日祝：利用ナシ</p>
    </div>
    <div class="plan-table-data-1">
      <p class="plan-table-data">コアタイムでの利用に最適なプラン</p>
    </div>
  </div>

  <div class="plan-table plan-table-2">
    <p class="plan-table-title plan-table-title-2">スタンダードプラン</p>
    <div class="plan-table-m">
      <div class="plan-table-money">
        <span class="plan-table-money-mark">￥</span>
        <p class="plan-table-money-price">15,000</p>
      </div>
      <p class="plan-table-month">月額</p>
    </div>
    <div class="plan-table-data-2">
      <p class="plan-table-data">入会金0円</p>
    </div>
    <div class="plan-table-data-2">
      <p class="plan-table-data">平日：17時〜23時</p>
    </div>
    <div class="plan-table-data-2">
      <p class="plan-table-data">土日祝：営業時間全て</p>
    </div>
    <div class="plan-table-data-2">
      <p class="plan-table-data">営業時間内で終日ご利用可能なプラン</p>
    </div>
  </div>

  <div class="plan-table plan-table-1">
    <p class="plan-table-title plan-table-title-1">プレミアムプラン</p>
    <div class="plan-table-m">
      <div class="plan-table-money">
        <span class="plan-table-money-mark">￥</span>
        <p class="plan-table-money-price">20,000</p>
      </div>
      <p class="plan-table-month">月額</p>
    </div>
    <div class="plan-table-data-1">
      <p class="plan-table-data">入会金5,000円</p>
    </div>
    <div class="plan-table-data-1">
      <p class="plan-table-data">平日：営業時間全て</p>
    </div>
    <div class="plan-table-data-1">
      <p class="plan-table-data">土日祝：営業時間全て</p>
    </div>
    <div class="plan-table-data-1">
      <p class="plan-table-data">フルに使いたい方のためのプレミアムなプラン</p>
    </div>
  </div>
</section>
