@use "../../variables" as *;
@mixin title {
  color: $white;
  margin: 0;
  font-size: $fontsize-l;
  font-weight: 700;
}
.plan-table {
  text-align: center;
  &-title {
    @include title;
    background-color: $orange-zorba;
    padding: 20px 40px;
  }
  &-money {
    .plan-table-money-price {
      font-size: $fontsize-xxl;
      font-weight: 700;
      color: $orange-bistre;
      display: flex;
      justify-content: center;
      .plan-table-money-mark {
        margin-top: 29px;
        color: $orange-bistre;
        font-size: $fontsize-l;
        font-weight: 700;
      }
    }
  }
  &-data {
    padding: 20px;
    border: 1px solid $gray-gainsboro;
    border-bottom: 0;
    box-sizing: border-box;
    &:nth-child(2) {
      background-color: $gray-desertStorm;
    }
    &:last-child {
      border-bottom: 1px solid $gray-gainsboro;
    }
  }
  &-ctn {
    font-size: $fontsize-s;
    margin-bottom: 0;
  }
}
.plan-table:nth-child(even) {
  border: 5px solid $orange-bistre;
  .plan-table-title {
    @include title;
    background-color: $orange-bistre;
    padding: 15px 40px 20px 40px;
  }
  .plan-table-data {
    &:last-child {
      padding-bottom: 15px;
      border-bottom: 1px solid $gray-gainsboro;
    }
  }
}
