<ul class="plan-table">
  <li class="plan-table-title">デイタイムプラン</li>
  <li class="plan-table-data">
    <div class="plan-table-money">
      <p class="plan-table-money-price">
        <span class="plan-table-money-mark">￥</span>5,000
      </p>
    </div>
    <p class="plan-table-content">月額</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-content">入会金0円</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-content">平日：9時〜17時</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-content">土日祝：利用ナシ</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-content">コアタイムでの利用に最適なプラン</p>
  </li>
</ul>
<ul class="plan-table">
  <li class="plan-table-title">スタンダードプラン</li>
  <li class="plan-table-data">
    <div class="plan-table-money">
      <p class="plan-table-money-price">
        <span class="plan-table-money-mark">￥</span>5,000
      </p>
    </div>
    <p class="plan-table-content">月額</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-content">入会金0円</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-content">平日：17時〜23時</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-content">土日祝：営業時間全て</p>
  </li>
  <li class="plan-table-data">
    <p class="plan-table-content">営業時間内で終日ご利用可能なプラン</p>
  </li>
</ul>
