@use "../../variables" as *;

.plan {
  @media screen and (min-width: $grid-breakpoints-md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  &-table {
    width: 100%;
    margin-bottom: 40px;
    height: auto;
    @media screen and (min-width: $grid-breakpoints-md) {
      width: 30%;
      margin-bottom: 0;
    }
    &-2 {
      border: 5px solid $orange-bistre;
    }
    &-title {
      color: $white;
      margin: 0;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      &-1 {
        background-color: $orange-zorba;
        line-height: 60px;
      }
      &-2 {
        background-color: $orange-bistre;
        line-height: 55px;
      }
    }
    &-m {
      padding: 24.5px 0;
      background-color: $gray-desertStorm;
      border: 1px solid $gray-gainsboro;
      border-top: 0;
    }
    &-money {
      display: flex;
      justify-content: center;
      align-items: center;
      &-mark {
        color: $orange-bistre;
        font-size: 20px;
        font-weight: bold;
      }
      &-price {
        margin-bottom: 16px;
        font-size: 40px;
        font-weight: 700;
        color: $orange-bistre;
      }
    }
    &-month {
      text-align: center;
      font-size: 14px;
      margin-bottom: 0;
    }
    &-data {
      margin-bottom: 0;
      text-align: center;
      font-size: 14px;
      padding: 20px;
      &-1 {
        border: 1px solid $gray-gainsboro;
        border-top: 0;
      }
      &-2 {
        border-bottom: 1px solid $gray-gainsboro;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
