@use "../../variables" as *;

.events {
  &-list {
    padding-left: 0;
    margin-bottom: 30px;
    &-bg {
      background-color: $white;
      border: 1px solid $gray-gainsboro;
      list-style-type: none;
      border-bottom: none;
      &:last-child {
        border-bottom: 1px solid $gray-gainsboro;
      }
    }
    .events-list-ctn {
      display: flex;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
      &:hover .events-img {
        transform: scale(1.2);
        transition-duration: 0.5s;
        overflow: hidden;
      }
      .events-img-wrapper {
        display: none;
        @media screen and (min-width: $grid-breakpoints-md) {
          display: block;
          min-width: 207px;
          overflow: hidden;
        }
        .events-img {
          width: 100%;
          transition-duration: 0.2s;
        }
      }
      .events-list-article {
        padding: 10px 20px 16px;
        flex: 1;
        @media screen and (min-width: $grid-breakpoints-md) {
          padding: 0 24px;
        }
        &-title {
          font-weight: 400;
          line-height: 1.5;
          margin-bottom: 8px;
          font-size: $fontsize-m;
          color: $black;
        }
      }
      .events-list-date {
        color: $gray-nobel;
        display: block;
        font-size: $fontsize-xs;
      }
    }
  }
}
.news-and-events-title {
  margin-bottom: 20px;
}
.more-btn {
  text-align: right;
}
