<section class="events">
  <div class="news-and-events-title">
    <h2 class="news-and-events-title-En">Events</h2>
    <span class="news-and-events-title-Ja">イベント</span>
  </div>
  <div class="events-list">
    <article class="events-list-bg">
      <a href="#" class="events-list-link">
        <div class="events-img-wrapper">
          <img src="../events/1.png" class="events-img" />
        </div>
        <div class="events-list-article">
          <h3 class="events-list-article-title">
            全ての業種に対応した起業応援セミナーを開催します。
          </h3>
          <time class="events-list-date" datetime="2018-08-23">2018.08.23</time>
        </div>
      </a>
    </article>
    <article class="events-list-bg">
      <a href="#" class="events-list-link">
        <div class="events-img-wrapper">
          <img src="../events/2.png" class="events-img" />
        </div>
        <div class="events-list-article">
          <h3 class="events-list-article-title">
            第3回　Switchクリエイター交流会開催いたします！
          </h3>
          <time class="events-list-date" datetime="2018-08-23">2018.08.23</time>
        </div>
      </a>
    </article>
    <article class="events-list-bg">
      <a href="#" class="events-list-link">
        <div class="events-img-wrapper">
          <img src="../events/3.png" class="events-img" />
        </div>
        <div class="events-list-article">
          <h3 class="events-list-article-title">
            Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
          </h3>
          <time class="events-list-date" datetime="2018-08-23">2018.08.23</time>
        </div>
      </a>
    </article>
  </div>
  <div class="more-btn">
    <a href="#" class="more-btn news-list"
      >イベント一覧<i class="fas fa-chevron-right fa-lg yajirusi"></i
    ></a>
  </div>
</section>
