@use "../../variables" as *;

.card {
  border: none;
  border-radius: 0;
  background-color: $white-smoke;

  &-title {
    z-index: 1;
    position: absolute;
    padding-left: 6px;
    font-weight: 700;
    color: $orange-bistre;
    font-size: $fontsize-l;
    &::before {
      z-index: -1;
      position: absolute;
      left: 0;
      border-width: 75px;
      border-style: solid;
      border-color: $white transparent transparent $white;
      content: "";
    }
  }
  &-img {
    overflow: hidden;
    border-radius: 0;
    &-top {
      margin: 0;
      border-radius: 0;
      @media screen and (min-width: $grid-breakpoints-md) {
        transition: 0.5s all;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  &-body {
    padding: 32px 46px;
    @media screen and (min-width: $grid-breakpoints-md) {
      padding: 32px 35px;
    }
  }
  &-text {
    line-height: 2.4;
    font-size: $fontsize-s;
    margin-bottom: 30px;
  }
  &-btn {
    margin: 0 auto;
  }
}
