<header>
  <div class="header-inner">
    <div class="container-xl">
      <nav class="navbar navbar-expand-xl">
        <a class="navbar-brand" href="#"
          ><img src="./image1.png" alt="" class="navbar-img"
        /></a>
        <button
          type="button"
          class="navbar-toggler hamburger-btn"
          data-toggle="collapse"
          data-target="#Navber"
          aria-controls="Navber"
          aria-expanded="false"
          aria-label="レスポンシブ・ナビゲーションバー"
        >
          <i class="fas fa-bars fa-1x"></i>
        </button>
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav">
            <li class="nav-content active">
              <a class="nav-tag" href="#">HOME</a>
            </li>
            <li>
              <ul id="accordion_menu">
                <div
                  class="nav-content-plus nav-content hidden-menu menu-position"
                >
                  <label class="nav-tag" for="label1">CONCEPT</label>
                  <input type="checkbox" id="label1" />
                  <div class="hidden-menu-show">
                    <ul class="hover-nav accordion">
                      <li class="nav-content-xl">
                        <a class="nav-tag-xl" href="#">ブログアーカイブ</a>
                      </li>
                      <li class="nav-content-xl">
                        <a class="nav-tag-xl" href="#">お知らせアーカイブ</a>
                      </li>
                      <li class="nav-content-xl">
                        <a class="nav-tag-xl" href="#">イベントアーカイブ</a>
                      </li>
                      <li class="nav-content-xl">
                        <a class="nav-tag-xl" href="#"
                          >インタビューアーカイブ</a
                        >
                      </li>
                      <li class="nav-content-xl">
                        <a class="nav-tag-xl" href="#">FAQページ</a>
                      </li>
                      <li class="nav-content-xl">
                        <a class="nav-tag-xl" href="#"
                          >固定ページ (デフォルト)</a
                        >
                      </li>
                      <li class="nav-content-xl">
                        <a class="nav-tag-xl" href="#">CONCEPT</a>
                      </li>
                      <li class="nav-content-xl">
                        <a class="nav-tag-xl" href="#">SERVICE</a>
                      </li>
                      <li class="nav-content-xl">
                        <a class="nav-tag-xl" href="#">FLOOR</a>
                      </li>
                      <li class="nav-content-xl">
                        <a class="nav-tag-xl" href="#">ACCESS</a>
                      </li>
                    </ul>
                  </div>
                  <a
                    class="plus-icon collapsed"
                    data-toggle="collapse"
                    href="#menu01"
                    aria-controls="#menu01"
                    aria-expanded="false"
                  ></a>
                </div>
                <ul
                  id="menu01"
                  class="collapse navbar-plus"
                  data-parent="#accordion_menu"
                >
                  <li class="nav-content">
                    <a class="nav-tag" href="#">ブログアーカイブ</a>
                  </li>
                  <li class="nav-content">
                    <a class="nav-tag" href="#">お知らせアーカイブ</a>
                  </li>
                  <li class="nav-content">
                    <a class="nav-tag" href="#">イベントアーカイブ</a>
                  </li>
                  <li class="nav-content">
                    <a class="nav-tag" href="#">インタビューアーカイブ</a>
                  </li>
                  <li class="nav-content">
                    <a class="nav-tag" href="#">FAQページ</a>
                  </li>
                  <li class="nav-content">
                    <a class="nav-tag" href="#">固定ページ (デフォルト)</a>
                  </li>
                  <li class="nav-content">
                    <a class="nav-tag" href="#">CONCEPT</a>
                  </li>
                  <li class="nav-content">
                    <a class="nav-tag" href="#">SERVICE</a>
                  </li>
                  <li class="nav-content">
                    <a class="nav-tag" href="#">FLOOR</a>
                  </li>
                  <li class="nav-content">
                    <a class="nav-tag" href="#">ACCESS</a>
                  </li>
                </ul>
              </ul>
            </li>
            <li class="nav-content">
              <a class="nav-tag" href="#">SERVICE</a>
            </li>
            <li class="nav-content">
              <a class="nav-tag" href="#">FLOOR</a>
            </li>
            <li class="nav-content">
              <a class="nav-tag" href="#">INTERVIEW</a>
            </li>
            <li class="nav-content">
              <a class="nav-tag" href="#">BLOG</a>
            </li>
            <li class="nav-content">
              <a class="nav-tag" href="#">ACCESS</a>
            </li>
            <li class="nav-content">
              <a class="nav-tag" href="#">DOWNLOAD</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
