<section id="newsList" class="news">
  <div class="news-and-events-title">
    <h2 class="news-and-events-title-En">News</h2>
    <span class="news-and-events-title-Ja">お知らせ</span>
  </div>
  <ul class="news-list">
    <li class="news-list-bg">
      <a class="news-list-link" href="">
        <time class="news-list-date" datetime="2018-06-20">2018.06.20</time>
        <h3 class="news-list-article-title">
          ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました！
        </h3>
      </a>
    </li>
    <li class="news-list-bg">
      <a class="news-list-link" href="">
        <time class="news-list-date" datetime="2018-06-18">2018.06.18</time>
        <h3 class="news-list-article-title">
          3種のレイアウトから選択できるテンプレートを固定ページに実装
        </h3>
      </a>
    </li>
    <li class="news-list-bg">
      <a class="news-list-link" href="">
        <time class="news-list-date" datetime="2018-06-12">2018.06.12</time>
        <h3 class="news-list-article-title">
          利用者からのご質問をまとめた「FAQ」ページをアップしました。
        </h3>
      </a>
    </li>
    <li class="news-list-bg">
      <a class="news-list-link" href="">
        <time class="news-list-date" datetime="2018-06-08">2018.06.08</time>
        <h3 class="news-list-article-title">
          デモ用のサンプルデータを表示する「インポート機能」でサイト構築をより快適に
        </h3>
      </a>
    </li>
    <li class="news-list-bg">
      <a class="news-list-link" href="">
        <time class="news-list-date" datetime="2018-05-26">2018.05.26</time>
        <h3 class="news-list-article-title">
          テーマのアップデート情報について
        </h3>
      </a>
    </li>
  </ul>
  <div class="news-more-wrapper">
    <a href="" class="more-btn"
      >お知らせ一覧<i class="fas fa-chevron-right fa-lg"></i
    ></a>
  </div>
</section>
