@use "../../variables" as *;

.news {
  &-and-events-title {
    margin-bottom: 35px;
  }
  &-list {
    padding: 0;
    &:nth-last-child(2) {
      margin-bottom: 30px;
    }
    &-bg {
      padding: 20px;
      border: 1px solid $gray-gainsboro;
      border-bottom: 0;
      background-color: $white;
      list-style-type: none;
      &:last-child {
        border-bottom: 1px solid $gray-gainsboro;
      }
    }
    &-link {
      &:hover {
        text-decoration: none;
      }
    }
    &-date {
      font-size: $fontsize-xs;
      color: $gray-nobel;
      display: block;
      margin-bottom: 10px;
    }
    &-article-title {
      color: $black;
      font-size: $fontsize-m;
      line-height: 23px;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
      transition: 0.2s ease;
      &:hover {
        color: $orange-bistre;
      }
    }
  }
  &-more-btn {
    text-align: right;
    margin-bottom: 35px;
  }
}
