<footer class="footer">
  <div class="message">
    <a href="#">
      <img class="message-title" src="logo-black.png" alt="" />
    </a>
    <p class="message-content">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト <br />
      FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休
    </p>
    <div class="logo">
      <i class="fab fa-facebook-f logo-position"></i>
      <i class="fab fa-twitter logo-position"></i>
      <i class="fab fa-instagram logo-position"></i>
      <i class="fas fa-rss logo-position"></i>
    </div>
  </div>
  <ul class="nav-list">
    <li class="nav-wrapper">
      <a href="#" class="nav-content"> HOME </a>
    </li>
    <li class="nav-wrapper">
      <a href="#" class="nav-content"> CONCEPT </a>
    </li>
    <li class="nav-wrapper">
      <a href="#" class="nav-content"> SERVICE </a>
    </li>
    <li class="nav-wrapper">
      <a href="#" class="nav-content"> FLOOR </a>
    </li>
    <li class="nav-wrapper">
      <a href="#" class="nav-content"> INTERVIEW </a>
    </li>
    <li class="nav-wrapper">
      <a href="#" class="nav-content"> BLOG </a>
    </li>
    <li class="nav-wrapper">
      <a href="#" class="nav-content"> ACCESS </a>
    </li>
    <li class="nav-wrapper">
      <a href="#" class="nav-content"> DOWNLOAD </a>
    </li>
  </ul>
  <p class="message-content footer-content">
    Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </p>
</footer>
