@use "../../variables" as *;

.news-and-events-title {
  &-En {
    font-family: $fontfamily-mincho;
    float: left;
    font-size: $fontsize-l;
    margin-right: 16px;
    margin-bottom: 0;
    @media screen and (min-width: $grid-breakpoints-lg) {
      font-size: $fontsize-xxl;
    }
  }
  &-Ja {
    font-family: $fontfamily-gothic;
    padding-top: 3px;
    margin: 0;

    font-size: $fontsize-m;
    @media screen and (min-width: $grid-breakpoints-lg) {
      padding-top: 15px;
    }
  }
}
