@use "../../variables" as *;

.message {
  text-align: center;
  font-family: $fontfamily-mincho;
  color: $black;
  &-title {
    margin-bottom: 6px;
    font-size: $fontsize-l;

    @media screen and (min-width: $grid-breakpoints-md) {
      margin-bottom: 8px;
      font-size: $fontsize-xl;
    }
  }
  &-content {
    font-size: $fontsize-s;
    margin-bottom: 0;
  }
}
