@use "../../variables" as *;

.message {
  &-title {
    margin-bottom: 6px;
    text-align: center;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    color: $black;
    @media screen and (min-width: $grid-breakpoints-md) {
      margin-bottom: 8px;
      font-size: $fontsize-xl;
    }
  }
  &-content {
    margin-bottom: 50px;
    text-align: center;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-s;
    color: $black;
    @media screen and (min-width: $grid-breakpoints-md) {
    }
  }
}
