<div class="message">
  <h2 class="message-title plan-message-ttl">
    ライフスタイルに合わせて選べる多彩なプラン。
  </h2>
  <p class="message-content plan-message-ctn">
    平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休日をメインとしたプランなど、<br />
    多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びいただけます。<br />
    ビジター料金でのご利用も可能ですので、月額会員登録の前に体験をしたいという方もぜひご利用ください。<br />
  </p>
</div>

<section id="plan" class="plan">
  <ul class="plan-table">
    <li class="plan-table-title plan-table-title-1">デイタイムプラン</li>
    <li class="plan-table-m">
      <div class="plan-table-money">
        <span class="plan-table-money-mark">￥</span>
        <p class="plan-table-money-price">5,000</p>
      </div>
      <p class="plan-table-month">月額</p>
    </li>
    <li class="plan-table-data-1">
      <p class="plan-table-data">入会金0円</p>
    </li>
    <li class="plan-table-data-1">
      <p class="plan-table-data">平日：9時〜17時</p>
    </li>
    <li class="plan-table-data-1">
      <p class="plan-table-data">土日祝：利用ナシ</p>
    </li>
    <li class="plan-table-data-1">
      <p class="plan-table-data">コアタイムでの利用に最適なプラン</p>
    </li>
  </ul>

  <ul class="plan-table">
    <li class="plan-table-title plan-table-title-2">スタンダードプラン</li>
    <li class="plan-table-m">
      <div class="plan-table-money">
        <span class="plan-table-money-mark">￥</span>
        <p class="plan-table-money-price">15,000</p>
      </div>
      <p class="plan-table-month">月額</p>
    </li>
    <li class="plan-table-data-2">
      <p class="plan-table-data">入会金0円</p>
    </li>
    <li class="plan-table-data-2">
      <p class="plan-table-data">平日：17時〜23時</p>
    </li>
    <li class="plan-table-data-2">
      <p class="plan-table-data">土日祝：営業時間全て</p>
    </li>
    <li class="plan-table-data-2">
      <p class="plan-table-data">営業時間内で終日ご利用可能なプラン</p>
    </li>
  </ul>

  <ul class="plan-table">
    <li class="plan-table-title plan-table-title-1">プレミアムプラン</li>
    <li class="plan-table-m">
      <div class="plan-table-money">
        <span class="plan-table-money-mark">￥</span>
        <p class="plan-table-money-price">20,000</p>
      </div>
      <p class="plan-table-month">月額</p>
    </li>
    <li class="plan-table-data-1">
      <p class="plan-table-data">入会金5,000円</p>
    </li>
    <li class="plan-table-data-1">
      <p class="plan-table-data">平日：営業時間全て</p>
    </li>
    <li class="plan-table-data-1">
      <p class="plan-table-data">土日祝：営業時間全て</p>
    </li>
    <li class="plan-table-data-1">
      <p class="plan-table-data">フルに使いたい方のためのプレミアムなプラン</p>
    </li>
  </ul>
</section>
<a href="" class="button">プラン料金</a>
