@use "../../variables" as *;

.button {
  width: 180px;
  height: 45px;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  color: $white;
  font-size: $fontsize-s;
  border: 0mm;
  transition: 0.2s ease;

  &:hover {
    background-color: $orange-bistre;
    color: $white;
    text-decoration: none;
  }
  @media screen and (min-width: $grid-breakpoints-md) {
    width: 150px;
    height: 55px;
  }
  
  @media screen and (min-width: $grid-breakpoints-lg) {
    width: 200px;
    height: 55px;
  }
}
