$color-example: #ff0000;
$fontsize-example: 16px;
$white: #ffffff;
$white-smoke: #f5f5f5;
$gray-desertStorm: #ece9e6;
$gray-gainsboro: #dddddd;
$gray-nobel: #999999;
$orange-zorba: #a19283;
$orange-bistre: #442606;
$black-50: rgba(0, 0, 0, 0.5);
$black: #000000;

$fontsize-xs: 12px;
$fontsize-s: 14px;
$fontsize-m: 16px;
$fontsize-l: 20px;
$fontsize-xl: 36px;
$fontsize-xxl: 40px;

$fontfamily-mincho: "Noto Serif JP", "serif";
$fontfamily-gothic: "Roboto", "Noto Sans JP", "sans-serif";

$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
$grid-breakpoints-xxl: 1400px;
