@use "../../variables" as *;
.about {
  &-mv {
    width: 50%;
    @media screen and (min-width: $grid-breakpoints-lg) {
      width: 25%;
    }
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .message {
    background-color: $white-smoke;
    padding: 31.5px 24px 29.5px;
    @media screen and (min-width: $grid-breakpoints-lg) {
      padding: 52px 26.5px;
    }
    .message-title {
      color: $orange-bistre;
    }
  }
}
