@use "../../variables" as *;

.news-and-events-container {
  background-color: $white-smoke;
  .news-and-events-row {
    padding: 55.5px 20px 91.5px;
    @media screen and (min-width: $grid-breakpoints-md) {
      padding: 55.5px 118px 91.5px 120px;
    }
    @media screen and (min-width: $grid-breakpoints-lg) {
      padding: 0;
    }
    .news {
      @media screen and (min-width: $grid-breakpoints-lg) {
        padding: 56px 20px 94px 56px;
      }
      .news-more-wrapper {
        @media screen and (min-width: $grid-breakpoints-lg) {
          margin-bottom: 0;
        }
      }
    }
    .events {
      @media screen and (min-width: $grid-breakpoints-lg) {
        padding: 56px 56px 94px 20px;
      }
      .events-list-article {
        flex: 1;
      }
    }
  }
}
