<div class="container-fruid news-and-events-container">
  <div class="row news-and-events-row">
    <section id="newsList" class="news col-12 col-lg-6">
      <div class="news-and-events-title">
        <h2 class="news-and-events-title-En">News</h2>
        <span class="news-and-events-title-Ja">お知らせ</span>
      </div>
      <div class="news-list">
        <a class="news-list-link" href="#">
          <article class="news-list-bg">
            <time class="news-list-date" datetime="2018-06-20">2018.06.20</time>
            <h3 class="news-list-article-title">
              ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました！
            </h3>
          </article>
        </a>
        <a class="news-list-link" href="#">
          <article class="news-list-bg">
            <time class="news-list-date" datetime="2018-06-18">2018.06.18</time>
            <h3 class="news-list-article-title">
              3種のレイアウトから選択できるテンプレートを固定ページに実装
            </h3>
          </article>
        </a>
        <a class="news-list-link" href="#">
          <article class="news-list-bg">
            <time class="news-list-date" datetime="2018-06-12">2018.06.12</time>
            <h3 class="news-list-article-title">
              利用者からのご質問をまとめた「FAQ」ページをアップしました。
            </h3>
          </article>
        </a>
        <a class="news-list-link" href="#">
          <article class="news-list-bg">
            <time class="news-list-date" datetime="2018-06-08">2018.06.08</time>
            <h3 class="news-list-article-title">
              デモ用のサンプルデータを表示する「インポート機能」でサイト構築をより快適に
            </h3>
          </article>
        </a>
        <a class="news-list-link" href="#">
          <article class="news-list-bg news-list-bg-last">
            <time class="news-list-date" datetime="2018-05-26">2018.05.26</time>
            <h3 class="news-list-article-title">
              テーマのアップデート情報について
            </h3>
          </article>
        </a>
      </div>
      <div class="news-more-wrapper">
        <a href="#" class="more-btn"
          >お知らせ一覧<i class="fas fa-chevron-right fa-lg yajirusi"></i
        ></a>
      </div>
    </section>
    <section class="events col-12 col-lg-6">
      <div class="news-and-events-title">
        <h2 class="news-and-events-title-En">Events</h2>
        <span class="news-and-events-title-Ja">イベント</span>
      </div>
      <div class="events-list">
        <article class="events-list-bg">
          <a href="#" class="events-list-link">
            <div class="events-img-wrapper">
              <img src="../../organisms/events/1.png" class="events-img" />
            </div>
            <div class="events-list-article">
              <h3 class="events-list-article-title">
                全ての業種に対応した起業応援セミナーを開催します。
              </h3>
              <time class="events-list-date" datetime="2018-08-23"
                >2018.08.23</time
              >
            </div>
          </a>
        </article>
        <article class="events-list-bg">
          <a href="#" class="events-list-link">
            <div class="events-img-wrapper">
              <img src="../../organisms/events/2.png" class="events-img" />
            </div>
            <div class="events-list-article">
              <h3 class="events-list-article-title">
                第3回　Switchクリエイター交流会開催いたします！
              </h3>
              <time class="events-list-date" datetime="2018-08-23"
                >2018.08.23</time
              >
            </div>
          </a>
        </article>
        <article class="events-list-bg">
          <a href="#" class="events-list-link">
            <div class="events-img-wrapper">
              <img src="../../organisms/events/3.png" class="events-img" />
            </div>
            <div class="events-list-article">
              <h3 class="events-list-article-title">
                Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
              </h3>
              <time class="events-list-date" datetime="2018-08-23"
                >2018.08.23</time
              >
            </div>
          </a>
        </article>
      </div>
      <div class="more-btn">
        <a href="#" class="more-btn news-list"
          >イベント一覧<i class="fas fa-chevron-right fa-lg yajirusi"></i
        ></a>
      </div>
    </section>
  </div>
</div>
