@use "../../variables" as *;

.card {
  margin-bottom: 30px;
  &-table {
    @media screen and (min-width: $grid-breakpoints-md) {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
  }
}
