<section id="cards-table" class="container container-card-table">
  <div class="card-table">
    <div class="card">
      <p class="card-title">CONCEPT</p>
      <a href="">
        <div class="card-img">
          <img
            src="../../molecules/card/image1.png"
            class="card-img-top"
            alt=""
          />
        </div>
      </a>
      <div class="card-body">
        <p class="card-text">
          「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ＆コワーキングです。
          お好きなドリンクを飲みながらゆったりと気兼ねなく勉強や仕事に取り組んでいただけます。
        </p>
        <a href="#" class="button card-btn">コンセプト</a>
      </div>
    </div>
    <div class="card">
      <p class="card-title">SERVICE</p>
      <a href="">
        <div class="card-img">
          <img src="../../molecules/card/image2.png" class="card-img-top" />
        </div>
      </a>
      <div class="card-body">
        <p class="card-text">
          喫茶・軽食を楽しめるカフェスペース。ビジネス書から最新の雑誌まで取りそろえるブックスペース。
          ブース型のパーソナルワークスペースに、開放感があるコワーキングスペース。
        </p>
        <a href="#" class="button card-btn">サービス</a>
      </div>
    </div>
    <div class="card">
      <p class="card-title">FLOOR</p>
      <a href="">
        <div class="card-img">
          <img
            src="../../molecules/card/image3.png"
            class="card-img-top"
            alt=""
          />
        </div>
      </a>
      <div class="card-body">
        <p class="card-text">
          カフェ・ブック・コワーキング。各エリアで異なるコンセプトを持つ当店では、
          目的や気分に合わせてフロア内を移動することで充実した時間をお過ごしいただけます。
        </p>
        <a href="#" class="button card-btn">フロアー</a>
      </div>
    </div>
  </div>
</section>
