@charset "UTF-8";
body {
  font-family: Roboto, "Noto Sans JP", sans-serif;
}
.button {
  width: 180px;
  height: 45px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  color: #fff;
  font-size: 14px;
  transition: 0.2s ease;
}
.button:hover {
  background-color: #442606;
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .button {
    width: 150px;
    height: 55px;
  }
}
@media screen and (min-width: 992px) {
  .button {
    width: 200px;
    height: 55px;
  }
}
.assignment-example-button {
  color: red;
  font-size: 16px;
}
.news-and-events-container {
  background-color: #f5f5f5;
  margin-bottom: 70px;
}
.top-page-content {
  width: 90%;
  margin: 0 auto;
}
.news-and-events-container .news-and-events-row {
  padding: 55.5px 20px 91.5px;
}
@media screen and (min-width: 768px) {
  .news-and-events-container .news-and-events-row {
    padding: 55.5px 118px 91.5px 120px;
  }
}
@media screen and (min-width: 992px) {
  .news-and-events-container .news-and-events-row {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .news-and-events-container .news-and-events-row .news {
    padding: 56px 20px 94px 56px;
  }
}
@media screen and (min-width: 992px) {
  .news-and-events-container .news-and-events-row .news .news-more-wrapper {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .news-and-events-container .news-and-events-row .events {
    padding: 56px 56px 94px 20px;
  }
}
.news-and-events-container .news-and-events-row .events .events-list-article {
  flex: 1;
}
.card {
  border: none;
  border-radius: 0;
}
.card-title {
  z-index: 1;
  position: absolute;
  padding-left: 6px;
  font-weight: 700;
  color: #442606;
  font-size: 20px;
}
.card .triangle {
  background-color: #fff;
  width: 150px;
  height: 150px;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
.card-img {
  overflow: hidden;
  border-radius: 0;
}
.card-img .card-img-top {
  margin: 0;
  border-radius: 0;
}
@media screen and (min-width: 768px) {
  .card-img .card-img-top {
    transition: 0.5s;
  }
  .card-img .card-img-top:hover {
    transform: scale(1.2);
  }
}
.card-body {
  background-color: #f5f5f5;
  padding: 0;
}
.card-body .card-text {
  line-height: 2.4;
  font-size: 14px;
  padding: 32px 46px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .card-body .card-text {
    padding: 32px 35px 30px;
  }
}
.card-body .card-btn {
  margin: auto;
  margin-bottom: 30px;
}
.message {
  text-align: center;
  color: #000;
}
.message-title {
  font-family: "Noto Serif JP", serif;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 30px;
}
@media screen and (min-width: 992px) {
  .message-title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 54px;
  }
}
.message-content {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 28px;
}
@media screen and (min-width: 768px) {
  .message-content {
    line-height: 36px;
  }
}
.more-btn {
  margin-left: 2px;
  color: #000;
  font-size: 14px;
  font-family: Roboto, "Noto Sans JP", sans-serif;
  transition: 0.2s ease;
}
.more-btn:hover {
  color: #999;
  text-decoration: none;
}
.yajirusi {
  margin-left: 16px;
}
.news-and-events-title {
  display: flex;
  align-items: center;
}
.news-and-events-title-En {
  font-family: "Noto Serif JP", serif;
  font-size: 20px;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .news-and-events-title-En {
    font-size: 40px;
  }
}
.news-and-events-title-Ja {
  margin-left: 16px;
  font-size: 16px;
}
.plan-table {
  text-align: center;
}
.plan-table-title {
  color: #fff;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  background-color: #a19283;
  padding: 20px 40px;
}
.plan-table .plan-table-money-price {
  font-size: 40px;
  font-weight: 700;
  color: #442606;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.plan-table .plan-table-money-price::before {
  content: "¥";
  margin-top: 29px;
  color: #442606;
  font-size: 20px;
  font-weight: 700;
  margin-right: 4px;
}
.plan-table-data {
  padding: 20px;
  border: 1px solid #ddd;
  border-bottom: 0;
  box-sizing: border-box;
}
.plan-table-data:nth-child(2) {
  background-color: #ece9e6;
}
.plan-table-data:last-child {
  border-bottom: 1px solid #ddd;
}
.plan-table-data .plan-table-content {
  font-size: 14px;
  margin-bottom: 0;
}
.plan-table-data:last-child {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.plan-table:nth-child(even) {
  border: 5px solid #442606;
}
.plan-table:nth-child(even) .plan-table-title {
  background-color: #442606;
  padding: 15px 40px 20px;
}
.about .about-row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 130px;
}
.about .about-row .about-mv {
  padding: 0;
}
.about .message {
  background-color: #f5f5f5;
  padding: 31.5px 24px 29.5px;
  margin-bottom: 100px;
}
@media screen and (min-width: 992px) {
  .about .message {
    padding: 52px 26.5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.about .message .message-title {
  color: #442606;
}
.card-table {
  padding: 0 12px;
}
.card-table .card {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .card-table {
    margin-bottom: 60px;
  }
}
.events .news-and-events-title {
  margin-bottom: 42px;
}
@media screen and (min-width: 992px) {
  .events .news-and-events-title {
    margin-bottom: 32px;
  }
}
.events .events-list {
  padding-left: 0;
  margin-bottom: 30px;
}
.events .events-list .events-list-bg {
  height: 69px;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style-type: none;
  border-bottom: none;
}
@media screen and (min-width: 992px) {
  .events .events-list .events-list-bg {
    height: 141px;
  }
}
.events .events-list .events-list-bg:last-child {
  border-bottom: 1px solid #ddd;
}
.events .events-list .events-list-link {
  display: flex;
  align-items: center;
}
.events .events-list .events-list-link:hover {
  text-decoration: none;
}
.events .events-list .events-list-link:hover .events-img {
  transform: scale(1.2);
}
.events .events-list .events-list-link .events-img-wrapper {
  display: none;
}
@media screen and (min-width: 992px) {
  .events .events-list .events-list-link .events-img-wrapper {
    display: block;
    height: 141px;
    overflow: hidden;
  }
}
.events .events-list .events-list-link .events-img-wrapper .events-img {
  height: 100%;
  transition-duration: 0.5s;
}
.events .events-list .events-list-link .events-list-article {
  padding: 10px 20px 16px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .events .events-list .events-list-link .events-list-article {
    padding: 0 24px;
  }
}
.events
  .events-list
  .events-list-link
  .events-list-article
  .events-list-article-title {
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 8px;
  font-size: 16px;
  color: #000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .events
    .events-list
    .events-list-link
    .events-list-article
    .events-list-article-title {
    -webkit-line-clamp: 2;
  }
}
.events .events-list .events-list-link .events-list-date {
  color: #999;
  display: block;
  font-size: 12px;
  line-height: 1;
}
.events .more-btn {
  text-align: right;
}
footer .message {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  footer .message {
    padding: 60px 0;
  }
}
footer .message .message-content {
  margin-bottom: 21.6px;
}
footer .message .logo {
  display: flex;
  justify-content: center;
}
footer .message .logo .logo-link {
  height: 0;
  color: #000;
}
footer .message .logo .logo-link:hover {
  color: #999;
  transition: 0.2s ease;
}
footer .message .logo .logo-link .logo-position {
  font-size: 14px;
  height: 14px;
  width: 14px;
  margin: 0 7px;
}
footer .message .message-title {
  margin-bottom: 20px;
}
footer .message .message-content {
  line-height: 28px;
}
footer .nav-list {
  display: flex;
  gap: 8px 0;
  background-color: #f5f5f5;
  padding: 16px;
  margin-bottom: 0;
  flex-wrap: wrap;
  list-style-type: none;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
@media screen and (min-width: 768px) {
  footer .nav-list {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
footer .nav-list .nav-wrapper {
  width: 50%;
  height: 20px;
}
@media screen and (min-width: 768px) {
  footer .nav-list .nav-wrapper {
    width: auto;
    height: 52px;
    display: flex;
    align-items: center;
  }
  footer .nav-list .nav-wrapper::after {
    content: "|";
    margin: 0 8px;
  }
  footer .nav-list .nav-wrapper:last-child::after {
    display: none;
  }
}
footer .nav-list .nav-content {
  height: 20px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
footer .nav-list .nav-content:hover {
  color: #442606;
  transition: 0.2s ease;
}
footer .footer-content {
  height: 44px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  white-space: wrap;
  text-align: center;
}
.header-inner {
  background-color: #000;
}
@media screen and (min-width: 1200px) {
  .header-inner {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.header-inner .container-xl {
  padding: 0;
}
.navbar {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .navbar {
    height: 90px;
    display: flex;
    justify-content: space-between;
  }
}
.navbar-brand {
  margin: 0;
  padding: 0 16px;
}
@media screen and (min-width: 1200px) {
  .navbar-brand {
    padding: 0;
  }
}
.navbar-img {
  width: 120px;
}
@media screen and (min-width: 1200px) {
  .navbar-img {
    width: 140px;
  }
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-plus {
  padding-left: 12px;
}
.hamburger-btn {
  width: 60px;
  height: 60px;
  border: 0;
  background-color: #000;
  margin-bottom: 0;
  color: #fff;
}
.hamburger-btn:focus {
  outline: 0;
}
@media screen and (min-width: 1200px) {
  .hamburger-btn {
    display: none;
  }
}
.hamburger-icon {
  margin-left: 0;
}
.nav-tag {
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto;
  font-size: 14px;
}
.nav-tag:hover {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .nav-tag {
    padding: 0 20px;
    transition: ease 0.2s;
  }
  .nav-tag:hover {
    color: #999;
  }
}
.nav-tag-xl {
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 0;
  font-size: 14px;
}
.nav-tag-xl:hover {
  text-decoration: none;
  color: #fff;
}
.nav-content {
  display: flex;
  align-items: center;
  height: 50px;
  list-style-type: none;
  transition: ease 0.2s;
}
@media screen and (min-width: 1200px) {
  .nav-content:hover {
    background-color: transparent;
  }
}
.nav-content-xl {
  height: 56px;
  width: 220px;
  list-style-type: none;
  background-color: #000;
  transition: ease 0.2s;
}
.nav-content-xl:hover {
  background-color: #442606;
}
.plus-icon {
  display: inline-block;
  position: relative;
  right: 17px;
  height: 26px;
  width: 26px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 100%;
  text-align: center;
}
.plus-icon:hover {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .plus-icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .collapse {
    display: none;
  }
}
.hidden-menu input {
  display: none;
}
.hidden-menu .hidden-menu-show {
  overflow: hidden;
  display: none;
}
.menu-position {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .hidden-menu input:checked + .hidden-menu-show {
    display: block;
    position: absolute;
    top: 70px;
    left: -40px;
  }
}
#accordion_menu {
  padding: 0;
}
#accordion_menu .nav-content-plus a[data-toggle="collapse"].collapsed::before {
  content: "+";
}
#accordion_menu .nav-content-plus a[data-toggle="collapse"]::before {
  content: "-";
}
.news .news-and-events-title {
  margin-bottom: 32px;
}
.news .news-list {
  padding: 0;
  margin-bottom: 30px;
}
.news .news-list .news-list-link:hover {
  text-decoration: none;
}
.news .news-list .news-list-link .news-list-bg {
  height: 85px;
  padding: 20px;
  border: 1px solid #ddd;
  border-bottom: 0;
  background-color: #fff;
  list-style-type: none;
}
.news .news-list .news-list-link .news-list-bg:hover .news-list-article-title {
  color: #442606;
}
.news .news-list .news-list-link .news-list-bg .news-list-date {
  font-size: 12px;
  color: #999;
  display: block;
  margin-bottom: 10px;
  line-height: 1;
}
.news .news-list .news-list-link .news-list-bg .news-list-article-title {
  color: #000;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  transition: 0.2s ease;
}
.news .news-list .news-list-link .news-list-bg-last {
  border-bottom: 1px solid #ddd;
}
.news .news-more-wrapper {
  text-align: right;
  margin-bottom: 35px;
}
.news .news-more-wrapper .more-btn {
  margin: 0;
}
.news .news-more-wrapper .more-btn .yajirusi {
  margin-left: 16px;
}
.plan-message-title {
  color: #442606;
}
.plan-message-content {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .plan {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 40px;
  }
}
.plan-table {
  flex: 1;
  margin-bottom: 24px;
  list-style-type: none;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .plan-table {
    margin-bottom: 0;
    padding: 0;
  }
}
.plan-btn {
  margin: 0 auto 35px;
}
@media screen and (min-width: 768px) {
  .plan-btn {
    margin: 0 auto 100px;
  }
}
.top .top-img {
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../components/organisms/top/top-image.png) center/cover;
}
@media screen and (min-width: 992px) {
  .top .top-img {
    height: 700px;
    background: url(../components/organisms/top/top-image.png) center/cover;
  }
}
.top .top-img .top-img-copy {
  color: #fff;
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
  writing-mode: vertical-rl;
  margin: 0;
}
@media screen and (min-width: 992px) {
  .top .top-img .top-img-copy {
    font-size: 36px;
  }
}
.top .message {
  background-color: #000;
  color: #fff;
  padding: 34.5px 20px 27px;
}
@media screen and (min-width: 992px) {
  .top .message {
    padding: 52px 36.5px 74px;
  }
}
